@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>VinylX</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the VinylXProject</h2>
        <p>
            VinylXProject is a helpful tool for cataloging and pricing of Recordings
            So far however no pricing is possible, but this feature will be possible at a later date.
        </p>
    </div>
    <div class="col-md-4">
        <h2>This is a proof of concept</h2>
        <p>
            Showcasing the basic interaction for the user.</p>
        <p><a class="btn btn-default" href="https://dev.azure.com/nhje26346/"> AzureDevops</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>
            You can download the project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/nhje26346/VinylX">Click here for the project on github;</a></p>
    </div>
</div>